body {
 background-image: url("texture.jpeg")
}

h1 {
 font: 40px sans-serif; 
}

h2 {
 font: sans-serif; 
}

.button {
  font: 25px sans-serif;
  text-decoration: none;
  background-color: #4B0082;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #4B0082;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #4B0082;
}
