body {
  background-image: url("texture.jpeg");
}
h1 {
  color: white; font-family: 'Verdana'; text-align: center;
}

h2 {
  color: white; font-family: 'Arial';
}

h3 {
  color: white; font-family: 'Arial';
}

p {
  color: white;
}
