body {
  background-color: white; font-family: Bomber;
    src: url("Bomber TV DF.otf") format('opentype');
    font-weight: bold;
    font-style: normal
}

}
h1 {
  color: white;  background-color: white; font-family: 'Bomber TV DF';
    src: url("Bomber TV DF.otf") format('opentype');
    font-weight: bold;
    font-style: normal; text-align: center;
}

h2 {
  color: black; font-family: 'Arial';
}

h3 {
  color: black; font-family: 'Arial';
}

p {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
